@import "base/variables";

* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}
html{
    max-width: 100%;
    overflow-x: hidden;
}
body {
    font-size: 14px;
    overflow-x: hidden;
    overflow-y: visible;
}
.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: block;
    padding: 0 15px;
}
.logo {
    font-size: 30px;
    font-weight: 900;
    a {
      color: $orange;  
    }
    
}
.burger-menu {
    display: none;
}
.right {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    img {
        max-width: 1220px;
        width: 100%;
        height: 882px;
    }
}
.left {
    position: absolute;
    top: 1000px;
    left: 0;
    z-index: 11;
}
.bas {
    filter: grayscale(100%);
}

@import "block/header";
@import "block/main";
@import "block/card";
@import "block/wrapper";
@import "block/footer";
@import "base/media";

