.wrapper {
    width: 100%;
    height: auto;
    margin-top: 120px;
    padding: 45px 55px 30px 33px;
    border-radius: 10px;
    box-shadow: 1.7px 13.9px 74.5px 1.5px rgba(0, 0, 0, 0.11);
    background-color: #ffffff;
    overflow: hidden;
    &__moderator {
        margin-top: 24px;
    }
    &__title {
        font-size: 16px;
        font-weight: 400;
        color: $blaсk;
        &_block {
            overflow: auto;
            height: 190px;
            padding: 5px;
            &::-webkit-scrollbar {
                width: 5px;
            }
            &::-webkit-scrollbar-track {
                background-color: #cdc7c7;
                border: 1px solid transparent;
                background-clip: content-box;
            }
            &::-webkit-scrollbar-thumb {
                background: #616060;
            }
        }
        &_chat {
            font-size: 25px;
            font-weight: 700;
        }
        &_type {
            margin-top: 20px;
            &:first-child {
                margin-top: 0;
            }
        }
        &_group {
            margin-top: 35px;
            width: 100%;
            textarea {
                width: 100%;
                border: 1px solid #bcafaf82;
                border-radius: 10px;
                padding: 10px;
                resize: none;
            }
            input[type="submit"] {
                margin-top: 20px;
                float: right;
                max-width: 160px;
                width: 100%;
                height: 35px;
                border: none;
                box-shadow: 1.7px 13.9px 74.5px 1.5px rgb(0 0 0 / 11%);
                background-color: $green;
                border-radius: 10px;
                font-size: 16px;
                font-weight: 600;
                text-align: center;
                color: #fff;
                &:hover {
                    transition: 0.3s all;
                    background-color: $hov;
                }
            }
        }
        .wrapper-feedback {
            margin-top: 20px;
        }
    }
}